<header class="header-principal">
    <!-- lnkado de hojas de estilo -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../../css/header.css">
    <!-- ------------------------- -->

    <div class="header-principal__contenedor-logotipo">
        <a href="./html/landing.html">
            <img class="contenedor-logotipo__imagen" src="./assets/logotipo.png">
        </a>
    </div>

    <div class="header-principal__opciones-navegacion">
        <ul class="opciones-navegacion__lista" >
            <a class="lista__item" href="./html/landing.html"><il>Inicio</il></a>
            <a class="lista__item" href="./html/catalogo.html"><il>Catálogo</il></a>
            <a class="lista__item" href="./html/novedades.html"><il>Novedades</il></a>
            <a class="lista__item" href="./html/nosotros.html"><il>Nosotros</il></a>
            <a class="lista__item" href="./html/contacto.html"><il>Contacto</il></a>
        </ul>
    </div>

    <div class="header-principal__opciones-de-sesion">
        <ul class="opciones-de-sesion__lista">
            <a class="lista__item" href="./html/inicio-sesion.html"><il>Inicar sesión</il></a>
            <a class="lista__item" href="./html/registro.html"><il>Registrarse</il></a>
        </ul>
    </div>

    <div class="header-principal__carrito-launcher">
        <a class="header-principal__carrito-launcher--linker" href="./html/carrito.html">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </div>
</header>