<header class="header-principal">
    <!-- lnkado de hojas de estilo -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../../css/header.css">
    <!-- ------------------------- -->

    <div class="header-principal__contenedor-logotipo">
            <img class="contenedor-logotipo__imagen" src="/assets/logotipo.png">
    </div>

    <div class="header-principal__opciones-navegacion">
        <ul class="opciones-navegacion__lista" >
            <il><a class="lista__item" href="landing" data-section="landing-seccion">Inicio</a></il>
            <il><a class="lista__item" href="catalogo" data-section="catalogo-seccion">Catálogo</a></il>
            <il><a class="lista__item" href="novedades" data-section="novedades-seccion">Novedades</a></il>
            <il><a class="lista__item" href="nosotros" data-section="nosotros-seccion">Nosotros</a></il>
            <il><a class="lista__item" href="contacto" data-section="contacto-seccion">Contacto</a></il>
        </ul>
    </div>

    <div class="header-principal__opciones-de-sesion">
        <ul class="opciones-de-sesion__lista">
            <a class="lista__item" href="inicio-sesion"><il>Inicar sesión</il></a>
            <a class="lista__item" href="registro"><il>Registrarse</il></a>
        </ul>
    </div>

    <div class="header-principal__carrito-launcher">
        <a class="header-principal__carrito-launcher--linker" href="carrito">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </div>
</header>