<div class="cartilla-producto">
    <section class="cartilla-producto__seccion-imagen">
        <img class="cartilla-producto__imagen" src="">
    </section>
    <section class="cartilla-producto__resumen-detalles">
        <h2 class="cartilla-producto__nombre-producto"></h2>
        <p class="cartilla-producto__descripcion"></p>
        <p class="cartilla-producto__contenedores-titulo"><strong>Contenedores:</strong></p>
        <div class="cartilla-producto__contenedores" id="contenedores-producto">
            <!-- iconos de contenedores se cargarán aquí --> 
        </div>
        <p class="cartilla-producto__precio" id="precio-producto">s/. 0.00</p>
    </section>
    <section class="cartilla-producto__seccion-aniadir-al-carrito">
        <button class="cartilla-producto__btn-añadir-carrito">Añadir a carrito</button>
    </section>
</div>