<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <header>
    <h1>Registro</h1>
  </header>
  <main>
    <!-- *ngIf="regForm" -->
    <div class="col-md-6 offset-md-3" *ngIf="regForm">
      <h2>Formulario de registro de usuarios</h2>
      <!-- [formGroup]="signUpfrom"  -->
      <form class="row g-3" [formGroup]="signUpfrom" (ngSubmit)="onSubmitSignUp()">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
        </div>
        <div class="form-group">
          <label for="apellido">Apellido:</label>
          <input type="text" class="form-control" id="apellido" formControlName="apellido" required>
        </div>
        <div class="form-group">
          <label for="genero">Género:</label>
          <input type="text" class="form-control" id="genero" formControlName="genero" required>
        </div>
        <div class="form-group">
          <label for="role">Role:</label>
          <input type="text" class="form-control" id="role" formControlName="role" required>
        </div>
        <div class="form-group">
          <label for="id">ID:</label>
          <input type="text" class="form-control" id="id" formControlName="id" required>
        </div>
        <div class="form-group">
          <label for="usuario">Correo electrónico:</label>
          <input type="email" class="form-control" id="usuario" formControlName="usuario" required>
        </div>
        <div class="form-group">
          <label for="contrasenia">Contraseña:</label>
          <input type="password" class="form-control" id="contrasenia" formControlName="contrasenia" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
        <p class="sim-pointer">Si ya tienes una cuenta has click <a routerLink="/login">aquí</a> para ingresar</p>
      </form>
    </div>

  </main>
  <footer>

  </footer>
</body>

</html>