
<!-- este componente es el encargado de gestionar los productos 
    puesto en el carrito, tiene un valor numérico que se actualiza 
    de manera reactiva (usaré RxJS). Al dar click en el carrito se
    despliega un div flotante donde puedes visualizar todos los productos
    en el carrito y además aumentar y disminuir la cantidad por producto.
    
    El total de la compra se actualiza también de forma reactiva. -->

<div class="logo">
    <i class="fa-solid fa-cart-shopping"></i>
</div>

<div id="cantidad-productos">
    <p>
        0   
    </p>
</div>

<div id="visualizador-carrito">
    <div>
        
    </div>
</div>