<section class="catalogo">

    <div class="contenedor-titulo">
      <h2 class="titulo">Catálogo de Productos</h2>
    </div>

    <section>
      <form action="">
          <input type="text" placeholder="Search" #filter>
          <button class="primary" type="button" (click)="filterResults(filter.value)">Buscar</button>
      </form>
  </section>
  <section>
      <ul class="productos-lista">
          <app-productos-filtrados *ngFor="let productos of filtered" [producto]="productos"></app-productos-filtrados>
        </ul>
  </section>
    
</section>