<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
</head>

<body>
        
      <header>
          <h2 class="titulo-carrito">CARRITO DE COMPRAS</h2>
          <h3 class="titulo-carrito" *ngIf="!hayProductos" [ngStyle]="{'display': !hayProductos ? 'block' : 'none'}" >CARRO VACÍO</h3>
      </header>

      <div class="body-lista-compras-total">


          <div class="cuando-no-hay-productos" *ngIf="!hayProductos" [ngStyle]="{'display': !hayProductos ? 'block' : 'none'}">
              <img src=".\..\..\..\assets\img\Recurso 1.png" alt="no hay ningun producto" class="perrito-triste">
          </div>
          
          <ul class="productos-lista-carrito">
              <li *ngFor="let producto of productosEnCarrito">
        
                <div class="cartilla-producto-carrito">
                  <div class="producto-imagen">
                    <img [src]="getImagen(producto.producto.imagen)" class="img-producto">
                  </div>
        
                  <div class="producto-detalles">
                    <h3 class="nombre">{{ producto.producto.nombre }}</h3>
                    <p class="id">{{ producto.producto.id }}</p>
                    <span class="precio unitario:"> S/.{{ producto.producto.precio }}</span>
                    <span class="precio subtotal:"> S/.{{ producto.precioSubTotal }}</span>
                  </div>

                  <div class="modificar-cantidad-producto">
                    <button id="aumentar" class="btn" *ngIf="producto.cantidad" [ngStyle]="{'color': producto.cantidad < 100? 'black': 'red'}" (click)="aumentarProductosCarrito(productosEnCarrito.indexOf(producto))">
                      <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </button>

                    <p>{{producto.cantidad}}</p>
                    
                    <button id="disminuir" class="btn" *ngIf="producto.cantidad" [ngStyle]="{'color': producto.cantidad > 1? 'black': 'red'}" (click)="disminuirProductosCarrito(productosEnCarrito.indexOf(producto))">
                      <i class="fa fa-minus-square" aria-hidden="true"></i>
                    </button>
                  </div>

                  <div class="eliminar-producto-carrito" class="btn" (click)="eliminarProductoDelCarrito(producto)">
                    <i class="fa-solid fa-trash"></i>
                  </div>
                  
                </div>
              </li>
          </ul>

      </div>

      <div class="contabilidad-total">

        <div class="resumen">
          <p>Precio con IGV: {{precioConIGV}}</p>
          <p>Envío: {{precioEnvio}}</p>
          <p>Descuento de envío: {{precioDescuentoEnvio}}</p>
          <p>IGV (18%): {{IGV}}</p>
          <p>Total: {{precioTotal}}</p>
        </div>

        <button class="boton-comprar" *ngIf="hayProductos" [routerLink]="['/comprar']" routerLinkActive="router-link-active" [ngStyle]="{'display': hayProductos ? 'block' : 'none'}">
          COMPRAR
        </button>
      </div>

</body>

</html>