.titulo-carrito {
    text-align: center;
    color: black;
}

.imagen-carrito-vacio {
    margin-top: 60px;
    text-align: center;
}

.perrito-triste {
    width: 30%;
    margin-top: 50px;
}

.lista-compras-total {
    margin-top: 70px;
    padding-bottom: 250px;
}

.cartilla-producto-carrito {
    display: flex;
    background-color: aliceblue;
    border-radius: 10px;
    border: solid 2px gray;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    margin: 13px;
    width: 50%;
    min-width: 400px;
    padding: 10px;
    justify-content: center;
}

.producto-imagen  {
    display: inline;
    width: 33%;
}

.producto-imagen img {
    width: 90%;
    height: auto;
}

.producto-detalles {
    text-align: center;
    background-color: bisque;
    width: 33%;
    align-content: center;
}

.modificadores-producto {   
    width: 33%;
    align-content: center;
}

.modificar-cantidad-producto {
    text-align: center;
}

.cantidad-producto-tipo {
    display: inline;
}

.btn-modificar-cantidad-producto {
    border: none;
    font-size: 20px;
}

.btn-eliminar-producto-carrito {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

header {
    display: block;
    position: fixed;
    z-index: 1000;
    width: 100vw;   
    background-color: white;
    top:0;
    left: 0;
    margin: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.footer-carrito-resume {
    display: block;
    position: fixed;
    z-index: 1000;
    width: calc(100vw - 20px);
    background-color: black;
    left: 0;
    bottom: 0;
    margin: 0px 10px;
    color: white;
    padding: 10px 10%;
}

li {
    list-style: none;
}