  .titulo-carrito {
    text-align: center;
    color: black;
  }


 /* cartilla del producto*/

.producto-imagen-carrito {
    height: 40%;
    align-content: center;
    background-color: rgb(132, 132, 200);
    border: solid 2px rgb(105, 105, 175);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-producto{
    display: block;
    position: relative;
    margin: auto;
}

.btn :hover {
    color: rgb(152, 211, 152); /* Cambia el color cuando el cursor está encima */
}

.btn :active {
    transform: scale(1.1); /* Agranda el botón cuando se presiona */
}

.btn {
    border: none;
    font-size: 20px;
}

.productos-lista {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.cartilla-producto-carrito {
    position: relative;
    
    background-color: aliceblue;

    border-radius: 10px;
    border: solid 2px gray;

    display: inline-block;

    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);

    margin: 13px;

    width: 300px;
    height: 500px;
}

.nombre {
    text-align: center;
    background-color: bisque;
}

p {
    text-align: center;
    padding-left: 20px;
}

.producto-imagen img {
    width: 200px;
    height: auto;
}

li {
    margin: 10px auto;
    list-style: none;
}

.precio {
    text-align: center;
}


.cuando-no-hay-productos {
    justify-content: center;
    border: solid 1px black;
}

* {
    border: solid 1px black;
}

.modificar-cantidad-producto {
    display: flex;
    justify-content: space-around;
}

.btn-modificar-cantidad-producto {
    display: inline;
}

.cantidad-productos-tipo {
    display: inline;
}

.btn-eliminar-producto-carrito {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}